<?xml version='1.0'?>
<launch>

  <!-- Short-term hack to support the original front_laser:=true argument for spawning
       the simulator. This will be removed in favour of using the config:=x arg instead. -->
  <arg name="front_laser" default="true" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" />
  <!-- end of hack -->

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="$(arg default_config)" />

  <!-- Load Jackal's description, controllers, and teleop nodes. -->
  <include file="$(find example_robot_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>


  <include file="$(find example_control)/launch/control.launch" />

  <include file="$(find virtual_maize_field)/launch/robot_spawner.launch">
    <arg name="robot_name" value="example_robot"/>
  </include>

</launch>
